@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

#homebody, #homebody3{
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    color: #59564e;
    line-height: 35px;
    background: rgb(240, 224, 207);
    
}
#logo, #nav {
    display: none;
}

main {
    margin-top:3rem;
}

main a {
    color: #173F5F;
}

footer a{
    color: #173F5F;
}

/* The drop container */
.drop {
    float: left;
    overflow: hidden;
}

#webpageTop {
    margin-top: 5%;
}

/* drop button */
.drop .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.drop:hover .dropbtn, .drop:focus .dropbtn {
    background-color: rgba(188, 202, 206, 0.15);
}

/* drop content (hidden by default) */
.drop-content {
    font-size: 16px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the drop */
.drop-content a {
    font-size: 16px;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to drop links on hover */
.drop-content a:hover, .drop-content a:focus {
    background-color: rgba(188, 202, 206, 0.15);
}


/* Show the drop menu on hover */
.drop:hover .drop-content {
    display: block;
}

#communitymain, #savedmain{
    background-color: rgb(240, 224, 207);
}
.image-fluid {
    width: auto;
    height: 20rem;
}

#header {
    margin-left: 25px;
    padding-top: 25px;
}

#homebody, html, #homebody3 {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('imgs/pasta.jpg');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text, .hero-text1, .hero-text2{
    font-size:1.5vw;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text h1, .hero-text1 h1, .hero-text2 h1{
    font-size:3.3vw;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text .button, .hero-text1 .button, .hero-text2 .button{
    font-size: 1vw;
}
.questionText {
    margin-top: 9%;
}

.hero-image1{
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45)), url('imgs/background.jpg');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-image2{
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('imgs/background.jpg');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image3{
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('imgs/background.jpg');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image4{
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('imgs/post.jpg');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.ourApp p{
    margin-left: 15%;
    margin-right: 15%;
    text-indent: 3%;
}

.ourAppH2 {
    text-align: center;

}

footer {
    font-size: 80%;
    text-align: left;
    padding: .5rem;
    margin-left: 10%;
}


#pic-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;

}
/*new*/
.card{
    line-height: 1.5rem;
}
.d-flex span{
    font-size: small;
    position: absolute;
    left: 1rem;
    bottom:3.5rem;
}
.card-footer{
    height:3rem;
}
.card-body{
    height:350px;
}
.card-text{
    margin-top: 30px;
}
.title-text{
    float: left;
}
.upload-file{
    margin-top: 15px;
}
.post-button{
    margin: 10px;
}
.display-lg{
    display: none;
}
.hero-text3{
    text-align: center;
    position: absolute;
    left: 5%;
    top: 25%;
    color: white;
}

#see{
    padding: 20px;
    height: 60vh;
    background: #fff;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2, .popup h3 {
    margin-top: 0;
    font-size: 1rem;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
    font-size: 0.7rem;
    margin-top: 10px;
    max-height: 45vh;
    overflow: auto;
}
#start{
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid rgb(248, 201, 47);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#start:hover {
    background: rgb(248, 201, 47);
}

.parallax2 {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('imgs/pasta.jpg');
    opacity: 0.95;
    /* Set a specific height */
    height: 950px;
    margin-bottom:0px;
    margin-top:0;
    padding-top:0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.popup .content2 {
    margin-top: 20px;
    max-height: 90%;
    overflow: auto;
}

button {
    cursor: pointer;
}

#space {
    display: none;
}

.loginScreen {
    text-align: center;
    color: #333;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
}
@media (min-width: 568px){

    .hero-text3{
        text-align: center;
        position: sticky;
        width: 70%;
        transform: translate(0, 10%);
        left: 15%;
        right: 15%;
        color: white;
    }

    #see{
        padding: 30px;
        background: #fff;
        position: relative;
        transition: all 5s ease-in-out;
    }

    .popup h2, .popup h3 {
        font-size: 1.5rem;
    }

    .popup .content {
        font-size: 1rem;
        margin-top: 10px;
        overflow-y: auto;
    }

    .card-title{
        font-size: 140%;
    }

    .parallax2 {
        /* The image used */
        opacity: 0.95;
        /* Set a specific height */
        height: 1068px;
        margin-bottom:0px;
        margin-top:0;
        padding-top:0;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
}
@media (min-width: 1098px) and (min-height: 586px){
    
    #space {
        display: inline-block;
    }
    
    #webpageTop {
        margin-top: 50%;
    }
    .card-title{
        font-size: 170%;
    }
    .hero-text3{
        text-align: center;
        position: absolute;
        width: 30%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        color: white;
    }

    #pic-2 {
        height: 300px;
        width: 500px;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .drop {
        display: none;
    }

    #header {
        width: 100%;
    }

    #homebody #header, #homebody3 #header {
        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
        margin-left: 0;
        color: inherit;
        font-size: 1em;
        left: 0;
        padding: 1em 1.5em;
        position: fixed;
        top: 0;
        display: block;
        z-index: 1;
    }

    #header.ctrl{
        width:100%;
    }

    #header h1 {
        font-weight: 900;
        margin: 0;
    }
    .index-footer p{
        color:#f1faee;
    }
    .index-footer a{
        color:#defffa;
    }
    #header h1 a {
        text-decoration: none;
        color: inherit;
    }
    #logo {
        display: inline;
        margin-top: 0;
    }
    #header nav {
        letter-spacing: 0.075em;
        position: absolute;
        right: 1.5em;
        text-transform: uppercase;
        top: 0.75em;
        display: block;
    }

    #header nav ul {
        list-style: none;
        padding-left: 0;
    }

    #header nav ul li {
        display: inline-block;
        margin-left: 1.5em;
        padding-left: 0;
    }



    #header nav ul li a {
        border: solid 1px transparent;
        color: inherit;
        display: inline-block;
        line-height: 1em;
        padding: 0.6em 0.75em;
        text-decoration: none;
    }


    #header nav ul li .button {
        font-size: 1em;
        min-width: 0;
        width: auto;
    }

    #header nav ul li.active > a, #header nav ul li:hover > a, #header nav ul li a:focus {
        background: rgba(188, 202, 206, 0.15);
    }

    #header nav ul li.current > a {
        font-weight: 900;
    }

    .display-lg{
        display: block;
    }

    .display-sm{
        display: none;
    }

    .parallax {
        /* The image used */
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('imgs/saved.jpg');
        opacity: 0.95;
        /* Set a specific height */
        height: 400px;
        margin-bottom:50px;
        margin-top:50px;
        padding-top:180px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ourAppH2 {
        text-align: center;
        margin:auto;
        background-color: #59564e;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 7px;
        width: 25%;

    }
    #spH2{
        width:35%;
    }
    #bottomp{
        margin-bottom:0;
        padding-top:50px;
        height:250px;
    }
    .popup h2, .popup h3{
        font-size: 1.8rem;
    }
    .popup .content {
        font-size: 1.2rem;
        margin-top: 10px;
        overflow-y: auto;
    }

    #see{
        padding: 40px;
        background: #fff;
        position: relative;
        transition: all 5s ease-in-out;
    }

    .parallax2 {
        /* The image used */
        opacity: 0.95;
        /* Set a specific height */
        height: 1150px;
        margin-bottom:0px;
        margin-top:0;
        padding-top:0;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
    

}
